@use '../utils' as *;

.todo-item {
	margin: 0 10px 20px;
	padding: 10px 20px;
	flex-basis: calc(33.33% - 20px);
	width: calc(33.33% - 20px);
	border: 2px solid $grey-light;
	border-radius: 6px;
}

.todo-item__title {
	margin-bottom: 15px;
	font-size: 1.5rem;
}

.todo-item__actions {
	display: flex;
	align-items: center;
	gap: 15px;
}

.todo-item__completed,
.todo-item__remove {
	display: inline-block;
	padding: 0.75em 1.25em;
	width: 100%;
	border-radius: 6px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.todo-item__completed {
	color: $green-mid;
	background-color: $green-light;
	border: 2px solid $green-mid;

	&:hover,
	&:focus-visible {
		background-color: darken($green-light, 10%);
	}
}

.todo-item__remove {
	color: $red-mid;
	background-color: $red-light;
	border: 2px solid $red-mid;

	&:hover,
	&:focus-visible {
		background-color: darken($red-light, 10%);
	}
}
